<h1>Listing restypes</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restypes.each do |restype| %>
      <tr>
        <td><%= restype.restype %></td>
        <td><%= restype.description %></td>
        <td><%= link_to 'Show', restype %></td>
        <td><%= link_to 'Edit', edit_restype_path(restype) %></td>
        <td><%= link_to 'Destroy', restype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restype', new_restype_path %>
