<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @restype.restype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restype.description %>
</p>

<%= link_to 'Edit', edit_restype_path(@restype) %> |
<%= link_to 'Back', restypes_path %>
