<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
<div class="course-container"
  <div class="new-course-field">
    <% f.label "Create a New Course", :id => "new-course-label"%>
    <%= f.text_field :title, :id => "new-course-form", :placeholder => "Start by Creating a New Course"%>
      <br><a href="#" class="next-step">Add Unit</a>
<!--     <%= f.submit "Create", :id => "btn-submit-course"%> -->
  </div>
</div>
  <br>
<!-- <div class="unit-container"> -->

  <div class="new-unit-field">
    <%= f.text_field :unit_list, :id => "new-unit-form", :placeholder => "Add Units"%>
    <%= f.submit "Create", :id => "btn-submit-unit"%>
  </div>
<!-- </div> -->

<% end %>
