<table>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <!-- <td><%= course.unit_list %></td> -->
        <td><%= raw course.unit_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to 'New Course', new_course_path %>
</div>