<p id="notice"><%= notice %></p>

<p id="course-title">

  <%= @course.title%>
</p>
  <section id="options" class="clearfix combo-filters">

    <div class="option-combo unit">
      <!-- <h4>Unit</h4> -->
      <ul class="filter option-set clearfix" data-filter-group="unit">
        <li><a href="#" data-filter-value="" class="selected">All Units</a></li>
        <% @course.unit_list.each do |u| %>
          <li><a href="#" data-filter-value=".<%= u %>"><%= u.upcase %></a></li>
        <% end %> 
      </ul>
    </div>

    <div class="option-combo level">
      <!-- <h4>Level</h4> -->
      <ul class="filter option-set clearfix" data-filter-group="level">
        <li><a href="#" data-filter-value="" class="selected">All Levels</a></li>
        <% Resource::LEVELS.each do |l| %>
          <li><a href="#" data-filter-value=".<%= l %>"><%= l.upcase %></a></li>
        <% end %> 
      </ul>
    </div>

    <div class="option-combo rtype">
      <!-- <h4>Resource Type</h4> -->
      <ul class="filter option-set clearfix" data-filter-group="rtype">
        <li><a href="#" data-filter-value="" class="selected">All Resource Types</a></li>
        <% Resource::RESOURCE_TYPES.each do |rt| %>
          <li><a href="#" data-filter-value=".<%= rt %>"><%= rt.upcase %></a></li>
        <% end %> 
      </ul>
    </div>

  <!-- <div id="new-resource-btn"> -->
    <a href="#" id="new-resource-btn">Add Resource</a>
  <!-- </div> -->

  </section>

    <div id="container" class="clearfix">
    <% @course.resources_tagged_with_units.each do |r| %>
      <% categories = r.unit_list.join(" ") %> 
      <% levels = r.level_list.join(" ") %> 
      <% rtypes = r.resource_type_list.join(" ") %>
      <div class="unit-level <%= categories %> <%= levels %> <%= rtypes %>">
        <%= link_to r.name, resource_path(r), :remote => true, :class => "res-link" %>
      </div>
    <% end  %>
    </div>
</div>
  
  <div id="resource-container">

    <div id="resource-form-container">
      <%= render "/resources/resource_form" %> 
    </div>

    <div id="resource-show-container">
    </div>
    
  </div>



<%#
<%= link_to 'Edit', edit_course_path(@course) %>
<%# <%= link_to 'Back', courses_path %>