<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Units:</strong>
  <%= @course.unit_list %>
</p>

<% @course.resources_tagged_with_units.each do |r| %>
  <%= r.name %>
  <%= r.provider %>
  <%= r.link %>
  <br>
  <% end  %>
<br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
